<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>공지사항</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/notice/list.css">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<main class="notice-container">
    <h1 class="notice-title">공지사항</h1>

    <div class="notice-search">
        <select>
            <option>제목</option>
            <option>작성자</option>
        </select>
        <input type="text" placeholder="검색어를 입력하세요" />
        <button class="btn-search">검색</button>
        <button class="btn-all">전체보기</button>

         <a th:href="@{/notice/new}" class="btn-write">작성하기</a>
    </div>

    <table class="notice-table">
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>조회수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="notice : ${notices}">
            <td th:text="${notice.id}"></td>
            <td class="notice-subject">
                <a th:href="@{|/notice/${notice.id}|}" th:text="${notice.title}"></a>
                <span class="badge-new">NEW</span>
            </td>
            <td th:text="${notice.writer}"></td>
            <td th:text="${#temporals.format(notice.createdAt, 'yyyy.MM.dd')}"></td>
            <td>1</td>
        </tr>
        </tbody>
    </table>

    <div class="pagination">
        <a href="#" class="page-btn">&lt;</a>
        <a href="#" class="page-btn active">1</a>
        <a href="#" class="page-btn">2</a>
        <a href="#" class="page-btn">3</a>
        <a href="#" class="page-btn">4</a>
        <a href="#" class="page-btn">5</a>
        <a href="#" class="page-btn">6</a>
        <a href="#" class="page-btn">&gt;</a>
    </div>
</main>
</body>
</html>
