<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>kafolio – Folios</title>

    <!-- 공통 스타일 -->
    <link th:href="@{/css/header.css}" rel="stylesheet" />
    <link th:href="@{/css/footer.css}" rel="stylesheet" />
    <link th:href="@{/css/users/auth-modal.css}" rel="stylesheet" />

    <!-- 페이지 전용 스타일 -->
    <link th:href="@{/css/folios/appned.css}" rel="stylesheet" />
  </head>

<body>
    <main id="page-content" class="dev-container">
        <h1>Folio 관리자 페이지</h1>
        <p>이곳에 관리자용 Folio 템플릿 추가 기능이 들어갈 예정입니다.</p>
    </main>
</body>
</html>