<!DOCTYPE html>
<html lang="ko" th:replace="~{fragments/folios-layout :: layout(
    pageTitle = 'Folio 목록',
    activeMenu = 'list',
    css = ~{::#list-css},
    js = ~{::#list-js},
    content = ~{::#folios-list-content}
)}">
<head>
    <th:block id="list-css">
        <link th:href="@{/css/folios/list.css}" rel="stylesheet" />
    </th:block>
</head>
<body>
    <div id="folios-list-content">
        <h1 class="folios-title">Folio 둘러보기</h1>
        <div id="folio-grid" class="grid">
            <p class="loading-message muted">데이터를 불러오는 중입니다...</p>
        </div>
    </div>
    <th:block id="list-js">
        <script th:src="@{/js/folios/list.js}"></script>
    </th:block>
</body>
</html>